<p id="notice"><%= notice %></p>
<div class="ml-2 mr-2">
  <p>
    <strong>Name:</strong>
  <p class="text-light"><%= @attractive.name %></p>
  </p>

  <p>
    <strong>Description:</strong>
  <p class="text-light"><%= @attractive.description %></p>
  </p>

  <p>
    <strong>Address:</strong>
  <p class="text-light"><%= @attractive.address %></p>
  </p>
</div>

<a href="/types">Back</a>
<a href="/maps/show/<%= @attractive.id %>">Add</a>