<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attractive.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attractive.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @attractive.address %>
</p>

<p>
  <strong>Web:</strong>
  <%= @attractive.web %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @attractive.telephone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @attractive.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @attractive.longitude %>
</p>

<p>
  <strong>Type:</strong>
  <%= @attractive.type %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @attractive.schedule %>
</p>

<%= link_to 'Edit', edit_attractive_path(@attractive) %> |
<%= link_to 'Back', attractives_path %>
